<!DOCTYPE>
<html>
<head>

<title><%= title%></title>

<body>
  <% if ( userFullName ) { %>
    <h2>Hello <%=userFullName%> </h2>
    <a href="/signout">Sign out</a>
    <% } else { %>
      <a href="/signup">Signup</a>
      <a href="/signin">Signin</a>
      <% } %>
      <br>
    <h1><%= title %></h1>
    <img src ="img/imagica.jpg" alt="Logo">
</body>

</head>
</html>
